.azienda {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.about-section {
    background: url('../images/consegna.jpg')no-repeat left;
    background-size: 55%;
    background-color: orange;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #ffff;
    padding: 50px;
}

.inner-container img {
    margin-bottom: 30px;
    max-width: 120px;
}

.text {
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 40px;
}

.firma {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;

    }

    .inner-container {
        width: 100%;
    }
}
