.slider-container {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
        url('../images/wrap.jpg');
    background-size: cover;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 60px;
}

.title-slider {
    background-color: #212529;
    color: orange;
    width: 100vw;
    text-align: center;
    font-size: 50px;

}

.wrapper {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 1000px;
    height: 100px;
    position: relative;
    background: #ffff;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.4);
    display: flex;
    overflow: hidden;
}

.slide {
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 12s linear infinite;
}

.slide img {
    height: 70px;
    padding: 0 30px 0 30px;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slider::before,
.slider::after {
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, #ffff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);

}
