.title_riepilogo {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

li+p {
    font-size: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.riepilogo_totale {
    font-size: 30px;
}
